<!DOCTYPE html>

<html lang="en" class="light">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Rollback Wizard</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../dist/css/app.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<style>
    .showDivX {
        display: block;
    }

    .showDivX {
        display: block;
    }

    .ts-dropdown {
        z-index: -1;
        position: relative;
    }
</style>

<body class="py-5">

    <div class="flex mt-[4.7rem] md:mt-0">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="" class="intro-x flex items-center pl-5 pt-4">
                <img alt="icon" class="w-6" src="../dist/images/logo.svg">
                <span class="hidden xl:block text-white text-lg ml-3"> File Rollback Tool </span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>


                <li>
                    <a href="javascript:;" class="side-menu side-menu--open side-menu--active">
                        <div class="side-menu__icon"> <i data-lucide="trello"></i> </div>
                        <div class="side-menu__title">
                            Utilities
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="side-menu__sub-open">
                        <li>
                            <a href="side-menu-light-profile-overview-1.html" class="side-menu side-menu--active">
                                <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="side-menu__title"> Simulation & Staging </div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-light-profile-overview-2.html" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="side-menu__title"> Overview 2 </div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-light-profile-overview-3.html" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="side-menu__title"> Overview 3 </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="layout"></i> </div>
                        <div class="side-menu__title">
                            File Rollback Wizard
                        </div>
                    </a>

        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Application</a></li>
                        <li class="breadcrumb-item active" aria-current="page">File Rollback Wizard</li>
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->

            </div>
            <!-- END: Top Bar -->
            <div class="intro-y flex items-center mt-8">
                <h2 class="text-lg font-medium mr-auto">
                    File Rollback Wizard
                </h2>
            </div>
            <!-- BEGIN: Wizard Layout -->
            <div class="intro-y box py-10 sm:py-20 mt-5">
                <div class="px-5 sm:px-20">
                   
                    <div class="intro-x flex items-center mt-5">
                        <button class="w-10 h-10 rounded-full btn btn-primary ">1</button>
                        <div class="font-medium text-base ml-3">Simulation & Staging Setup</div>
                    </div>
                    <div class="intro-x flex items-center mt-5">
                        <button
                            class="w-10 h-10 rounded-full btn text-slate-500 bg-slate-100 dark:bg-darkmode-400 dark:border-darkmode-400">2</button>
                        <div class="text-base text-slate-600 dark:text-slate-500 ml-3">Execution & Results</div>
                    </div>

                </div>
                    <div class="px-5 sm:px-20 mt-10 pt-10 border-t  border-slate-200/60 dark:border-darkmode-400">
                        <div class="font-medium text-base">Action 1</div>
                        <div id="action-bucket1" style="display:contents ">

                            <div class="grid grid-cols-12 border-b pb-6 gap-4 gap-y-5 mt-5">
                                <div id="action-container" style="display:contents ">
                                    <div id="process-container" class="intro-y col-span-12 sm:col-span-6">
                                        <label for="input-wizard-1" class="form-label">What would you like to
                                            do?</label>
                                        <div>
                                            <select id="process-selector1" select_id=1
                                                data-placeholder="Select your Action"
                                                class="tom-select w-full process-selector">
                                                <option value="-1">--Please Choose an Option--</option>
                                                <option value="1">Create Sample Files</option>
                                                <option value="2">Update Sample Files</option>
                                                <option value="3">Encrypt Sample Files</option>
                                                <option value="4">Decrypt Sample Files</option>

                                            </select>

                                        </div>
                                    </div>


                                    <div hidden id="num-files-container1"
                                        class="intro-y col-span-12 sm:col-span-6 num-files-container">
                                        <label for="input-wizard-2" class="form-label">How many files would you like
                                            created?</label>
                                        <input id="input-wizard-2" type="text" class="form-control" placeholder="50">
                                    </div>
                                </div>

                                <div id="num-files-container" class="intro-y col-span-12 text-center mt-6">
                                    <button id="add-action-button1" action-id=1
                                        class="btn btn-primary mr-1 mb-2 add-action-button"> <i data-lucide="plus"
                                            class="w-5 h-5"></i>Add Action</button>
                                </div>
                            </div>
                            <!-- action 2 start-->
                            <div id="action-bucket2" style="display:none">
                                <div class="font-medium text-base mt-10">Action 2</div>
                                <div class="grid grid-cols-12 border-b pb-6 gap-4 gap-y-5 mt-5">
                                    <div hidden id="action-container" style="display:contents ">
                                        <div id="process-container" class="intro-y col-span-12 sm:col-span-6">
                                            <label for="input-wizard-1" class="form-label">What would you like to
                                                do?</label>
                                            <div>
                                                <select id="process-selector2" select_id=2
                                                    data-placeholder="Select your Action"
                                                    class="tom-select w-full process-selector">
                                                    <option value="-1">--Please Choose an Option--</option>
                                                    <option value="1">Create Sample Files</option>
                                                    <option value="2">Update Sample Files</option>
                                                    <option value="3">Encrypt Sample Files</option>
                                                    <option value="4">Decrypt Sample Files</option>

                                                </select>

                                            </div>
                                        </div>


                                        <div hidden id="num-files-container2"
                                            class="intro-y col-span-12 sm:col-span-6 num-files-container">
                                            <label for="input-wizard-2" class="form-label">How many files would you like
                                                created?</label>
                                            <input id="input-wizard-2" type="text" class="form-control"
                                                placeholder="50">
                                        </div>
                                    </div>

                                    <div id="num-files-container" class="intro-y col-span-12 text-center mt-6">
                                        <button id="add-action-button2" action-id=2
                                            class="btn btn-primary mr-1 mb-2 add-action-button">
                                            <i data-lucide="plus" class="w-5 h-5"></i>Add Action
                                        </button>
                                        <button id="delete-action-button2" action-id=2
                                            class="btn btn-danger mr-1 mb-2 delete-action-button">
                                            <i data-lucide="trash" class="w-5 h-5"></i> Delete
                                        </button>
                                    </div>
                                </div>
                                <!-- action2 end -->
                                <!-- action 3 start-->
                                <div id="action-bucket3" style="display:none">
                                    <div class="font-medium text-base mt-10">Action 3</div>
                                    <div class="grid grid-cols-12 border-b pb-6 gap-4 gap-y-5 mt-5">
                                        <div hidden id="action-container" style="display:contents ">
                                            <div id="process-container" class="intro-y col-span-12 sm:col-span-6">
                                                <label for="input-wizard-1" class="form-label">What would you like to
                                                    do?</label>
                                                <div>
                                                    <select id="process-selector3" select_id=3
                                                        data-placeholder="Select your Action"
                                                        class="tom-select w-full process-selector">
                                                        <option value="-1">--Please Choose an Option--</option>
                                                        <option value="1">Create Sample Files</option>
                                                        <option value="2">Update Sample Files</option>
                                                        <option value="3">Encrypt Sample Files</option>
                                                        <option value="4">Decrypt Sample Files</option>
                                                    </select>

                                                </div>
                                            </div>


                                            <div hidden id="num-files-container3"
                                                class="intro-y col-span-12 sm:col-span-6 num-files-container">
                                                <label for="input-wizard-2" class="form-label">How many files would you
                                                    like created?</label>
                                                <input id="input-wizard-2" type="text" class="form-control"
                                                    placeholder="50">
                                            </div>
                                        </div>

                                        <div id="num-files-container" class="intro-y col-span-12 text-center mt-6">
                                            <button id="delete-action-button3" action-id=3
                                                class="btn btn-danger mr-1 mb-2 delete-action-button"> <i
                                                    data-lucide="trash" class="w-5 h-5"></i> Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- action 3 end -->
                            </div>

                        </div>
                    </div>
                    <div
                        class="pt-2 pb-6 mr-10 intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <button type="submit" id="submit-actions-button" class="btn btn-primary w-24 ml-2">Execute</button>
                    </div>


                <!-- END: Wizard Layout -->
            </div>
            <!-- END: Content -->
        </div>

        <!-- BEGIN: JS Assets-->

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="../dist/js/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <!-- START:handle process selection -->
        <script>
            $('.process-selector').on('change', function () {
                var process_selected = this.value
                select_id = $(this).attr('select_id')
                console.log('pickle', select_id)

                if (process_selected == "1") {
                    $(this).closest('#action-container').find('#num-files-container' + select_id).addClass(
                        'showDivX').css('transform', 'translateX(50px)')
                } else {
                    $(this).closest('#action-container').find('#num-files-container' + select_id).removeClass(
                        'showDivX').css('transform', 'translateX(50px)')

                }
                console.log(process_selected)
            })
        </script>
        <!-- END  -->

        <!-- BEGIN: Action Adder -->
        <script>
            var actions_configured = 1
            $('.add-action-button').on('click', function () {
                actions_configured += 1
                $(this).hide()
                var action_id = $(this).attr('action-id')
                $("#delete-action-button" + action_id).hide()
                var next_action = parseInt(action_id) + 1

                $('#action-bucket' + next_action).show()
            })
            $('.delete-action-button').on('click', function () {
                var action_id = $(this).attr('action-id')
                console.log(action_id)
                $('#action-bucket' + action_id).hide()

                var previous_action = parseInt(action_id) - 1
                $('#add-action-button' + previous_action).css('display', 'inline-flex')
                $('#delete-action-button' + previous_action).css('display', 'inline-flex')
            })
        </script>
        <!-- END: Action Adder -->

        <!-- BEGIN: Datepicker -->
        <script>
            flatpickr("#datepicker1", {
                enableTime: true,
                dateFormat: "Y-m-d-H:i",
            });
        </script>
        <!-- END: Datepicker-->

        <!-- BEGIN: Submit Actions -->
        <script>
            $('#submit-actions-button').on('click', function (event) {
                event.preventDefault(); // Prevent the default form submission behavior

                var actions_selected = [];
                $('select.tom-select').each(function () {
                    var action_id = $(this).val();
                    if (action_id == 1) {
                        var numFiles = $(this).closest('#action-container').find(
                            '.num-files-container input').val();
                        console.log(action_id, numFiles);
                        actions_selected.push({
                            action_id: 1,
                            numFiles: numFiles

                        });
                    } else if (action_id != -1) {
                        actions_selected.push({action_id:parseInt(action_id)})
                    }
                    
                });
                
                $.ajax({
                    type: 'POST',
                    url: '/process_actions',
                    data: JSON.stringify(actions_selected),
                    contentType: 'application/json',
                    success: function (data) {
                        // Handle the server response
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error submitting form data:', textStatus, errorThrown);
                    }
                });
                console.log(actions_selected);

            })
        </script>


        <!-- END: JS Assets-->
</body>

</html>